<h1> <%= @vendor_info.name %> Info </h1>

<section class="contact_info">
  <h3> Contact Info: </h3>
  <p> Contact Name: <%= @vendor_info.contact_name %> </p>
  <p> Contact Phone: <%= @vendor_info.contact_phone %> </p>
</section>

<section class="additional_info">
  <h3> Additional Info: </h3>
  <p> Credit_accepted? <%= @vendor_info.credit_accepted %> </p>
  <p> Description: <%= @vendor_info.description %> </p>
</section>